{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block body %}
    <div id="fb-root"></div>
    <script>
        // Include the Facebook JavaScript SDK to logout the user
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ app_id }}',
                status     : true,
                xfbml      : true
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

     <div class="jumbotron">
         <p>Connect to the respective Facebook account by logging in to Facebook. Your username and password will remain with Facebook and will not be stored in this application.</p>
         <p><a class="btn btn-primary btn-lg" role="button" onclick="FB.logout(function(response) {});popupwindow('{{ path('campaignchain_channel_facebook_login') }}','',600,600);">Connect with Facebook</a></p>
     </div>

 {% endblock %}
